<article class="prose-xl min-w-full">
  <h1>Hey, Welcome</h1>
  <p>
    This is my space to tinker, think out loud, and share the messy process of building things.
  </p>
</article>
<section>
  <header class="prose-xl mb-12 min-w-full">
    <h2>Latest</h2>
  </header>

  @defer {
    @for (item of latestItems; track $index) {
      <app-content-list-item [item]="item"></app-content-list-item>
    }
  } @placeholder (minimum 0ms) {
    <app-content-list-item [state]="ComponentState.Loading"></app-content-list-item>
    <app-content-list-item [state]="ComponentState.Loading" class="opacity-70"></app-content-list-item>
    <app-content-list-item [state]="ComponentState.Loading" class="opacity-40"></app-content-list-item>
    <app-content-list-item [state]="ComponentState.Loading" class="opacity-10"></app-content-list-item>
  }
</section>
