<section class="prose-lg my-12 min-w-full">
  <h1>Hi I'm Jessy.</h1>

  <p>
    Hey, thanks for stopping by. You've stumbled upon my personal site. I'll be using this space to ramble, dump thoughts, and write in things. I call these
    logs, which are just posts.
  </p>

  <h2>Latest Logs</h2>
  @if (hasError()) {
    <!-- Error state -->
    <div role="alert" class="alert alert-error">
      <lucide-icon [name]="'Frown'" [size]="18"></lucide-icon>
      <span>There was an issue loading the latest posts. This might be due to a network problem.</span>
      <div>
        <button (click)="retryLoading()" class="btn btn-sm">Try again</button>
      </div>
    </div>
  } @else if (isLoading()) {
    <!-- Loading state -->
    <app-content-list-item [state]="ComponentState.Loading" [item]="dummyItem"></app-content-list-item>
    <app-content-list-item [state]="ComponentState.Loading" [item]="dummyItem" class="opacity-70"></app-content-list-item>
    <app-content-list-item [state]="ComponentState.Loading" [item]="dummyItem" class="opacity-40"></app-content-list-item>
    <app-content-list-item [state]="ComponentState.Loading" [item]="dummyItem" class="opacity-10"></app-content-list-item>
  } @else if (latestItems().length === 0) {
    <!-- Empty state -->
    <div role="alert" class="alert alert-warning">
      <lucide-icon [name]="'TriangleAlert'" [size]="18"></lucide-icon>
      <span>Fetching posts worked, but found none...</span>
      <div>
        <button (click)="retryLoading()" class="btn btn-sm">Try again</button>
      </div>
    </div>
  } @else {
    <!-- Content loaded successfully -->
    @for (item of latestItems(); track $index) {
      <app-content-list-item [item]="item"></app-content-list-item>
    }
  }
</section>
