@import "tailwindcss";
@import "./theme.css";
@plugin "@tailwindcss/typography";


/* This is to enable dark mode via css class */
/* @custom-variant dark (&:where(.dark, .dark *)); */

@font-face {
  font-family: "Fira Code";
  src:
    url("/assets/fonts/firacode/woff2/FiraCode-Regular.woff2") format("woff2"),
    url("/assets/fonts/firacode/ttf/FiraCode-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@theme {
  --font-sans: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-serif: ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
  --font-mono: "Fire Code", ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;

  @keyframes text-blink {
    0%,
    100% {
      color: var(--color-base-content);

    }
    50% {
      color: var(--color-base-100);
    }
  }

  @keyframes text-pulse {
    0%,
    100% {
      opacity: 1;
    }
    50% {
      opacity: 0;
    }
  }

  --animate-text-blink: text-blink 1s infinite;
  --animate-text-pulse: text-pulse 1200ms cubic-bezier(0, 1.163, 0.106, 0.943) infinite;
}

@layer base {
  html,
  body {
    @apply antialiased;
    scrollbar-color: var(--color-base-300);
  }

  body {
    overflow-y: scroll;
    /* scroll bar showing/hiding happens in layout service */
  }


  ::selection {
    background-color: var(--color-primary);
    color: var(--color-primary-content);
    /* background-color: var(--fm-selection-color-bg);
    color: var(--fm-selection-color); */
  }

  /*
  *:focus {
    @apply outline-yellow-500 ring;
  } */

  ::selection {
    background-color: var(--color-yellow-400);
  }

  p {
    @apply pb-8;
  }

  ul {
    list-style-position: outside;
    @apply pl-8;
  }
  ul li {
    list-style-type: "- ";
  }
  ol {
    list-style-position: inside;
  }
  ol li {
    list-style-type: decimal;
  }

  mark {
    @apply inline-block;
    @apply font-mono font-bold;
    @apply my-2 px-2 py-1;
    @apply bg-base-100 text-base-content;
  }


  blockquote {
    @apply relative;
    @apply bg-base-content text-base-100;
    @apply text-sm font-mono tracking-tight;
    @apply -rotate-2 transform;
    @apply transition-transform duration-300 hover:scale-105 hover:rotate-0;
  }
  blockquote p {
    @apply py-4 px-2;
  }
}

@utility container {
  margin-inline: auto;
}

@layer components {
  /* Link Component - Used on resume page */
  .link {
    @apply p-0 hover:px-2;
    @apply transition-all;
    @apply text-base-content hover:bg-base-100 hover:text-base-100;
  }

  /* Comma List Component */
  .comma-list {
    @apply list-none;
  }

  .comma-list li {
    @apply inline-flex;
  }

  .comma-list li::after {
    content: ",\00A0";
    white-space: nowrap;
  }

  .comma-list li:last-child::after {
    content: "";
  }
}

/* Components */
@import "./link.css";
@import "./resume-word.css";


@layer utilities {
  .text-vertical {
    @apply rotate-180;
    writing-mode: vertical-lr;
  }

  .strip {
    --stripe-size: 20px;
    --stripe-color: var(--color-base-100);
    --stripe-alt-color: var(--color-base-content);
    background-image: repeating-linear-gradient(
      -45deg,
      var(--stripe-alt-color),
      var(--stripe-alt-color) var(--stripe-size),
      var(--stripe-color) var(--stripe-size),
      var(--stripe-color) calc(var(--stripe-size) * 2)
    );
  }
}
