<div class="flex justify-center items-center gap-2">
  <label class="swap swap-rotate">
    <!-- this hidden checkbox controls the state -->
    <input
      type="checkbox"
      class="theme-controller"
      (change)="themeService.toggleTheme()"
      [checked]="themeService.isLightMode()"
    />
    <span class="swap-on">
      <lucide-icon
        name="Moon"
        [size]="16"
        class="text-base-content"
      ></lucide-icon>
    </span>
    <span class="swap-off">
      <lucide-icon
        name="Sun"
        [size]="16"
        class="text-yellow-400"
      ></lucide-icon>
    </span>

  </label>
</div>
